<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en">
<!--<![endif]-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<meta name="3d printing">
<meta name="CAD design">

<link href="css/reset.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-responsive.css" rel="stylesheet" type="text/css" />
<link href="css/prettyPhoto.css" rel="stylesheet" type="text/css" />
<link href="css/font-awesome.css" rel="stylesheet" type="text/css" />
<link href="style.css" rel="stylesheet" type="text/css" />

<!-- REVOLUTION SLIDER CSS SETTINGS -->
<link href="css/revolution_slider.css" rel="stylesheet" type="text/css" />

</head>

<body id="home">

<div id="top"></div>


<!-- *** SLIDER STARTS *** -->
	<div class="fullwidthbanner-container home" style="visibility:hidden">
		<div class="fullwidthbanner">
			<ul>
			  <li data-transition="fade" data-slotamount="10" data-masterspeed="300" >
						<%= image_tag 'sunset2.jpg', :alt => '3d printing'  %>
		
						<div class="caption lft ltt"  
							 data-x="75"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_line.jpg'%>
						</div>

						<div class="caption lft ltt"  
							 data-x="800"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_line.jpg' %>
						</div>

						<div class="caption lft ltt style1"  
							 data-x="445"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" >WELCOME TO CADSURF
						</div>
						<div class="caption lfb ltb style1b"  
							 data-x="0"
							 data-y="360" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" >3D PRINTING MARKETPLACE
						</div>
						<div class="caption lfb ltb style1b"  
							 data-x="350"
							 data-y="460" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" >AND MORE
						</div>

						<div class="caption lfb ltb"  
							 data-x="75"
							 data-y="535" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_big_line.jpg' %>
						</div>
						
				</li>
				

				<li data-transition="fade" data-slotamount="10" data-masterspeed="300" >
					<%= image_tag 'blue_city.JPG', :alt => 'CADsurf.com'  %>	
						<div class="caption lft ltt"  
							 data-x="75"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_line.jpg' %>
						</div>

						<div class="caption lft ltt"  
							 data-x="800"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_line.jpg' %>
						</div>

						<div class="caption lft ltt style1"  
							 data-x="475"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" >BIDDING SYSTEM 
						</div>
						<div class="caption lfb ltb style1b"  
							 data-x="150"
							 data-y="360" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" >VENDORS COMPETE
						</div>
						<div class="caption lfb ltb style1b"  
							 data-x="130"
							 data-y="460" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" >FOR YOUR PROJECTS
						</div>

						<div class="caption lfb ltb"  
							 data-x="75"
							 data-y="535" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_big_line.jpg' %>
						</div>
						
				</li>


				
				 <li data-transition="fade" data-slotamount="10" data-masterspeed="300" >
						<%= image_tag 'sunset3.jpg', :alt => 'CAD models' %>
									
						<div class="caption lft ltt"  
							 data-x="75"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_line.jpg' %>
						</div>

						<div class="caption lft ltt"  
							 data-x="800"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_line.jpg' %>
						</div>

						<div class="caption lft ltt style1"  
							 data-x="495"
							 data-y="280" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" >PEACE OF MIND
						</div>
						<div class="caption lfb ltb style1b"  
							 data-x="70"
							 data-y="360" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo">EVERY TRANSACTION IS
						</div>
						<div class="caption lfb ltb style1b"  
							 data-x="100"
							 data-y="460" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" >SECURE AND VERIFIED
						</div>

						<div class="caption lfb ltb"  
							 data-x="75"
							 data-y="535" 
							 data-speed="600" 
							 data-start="800" 
							 data-easing="easeOutExpo" ><%= image_tag 'white_big_line.jpg' %>
						</div>
						
				</li>
			</ul>
			<div class="tp-bannertimer"></div>	
		</div>
	</div>
	<!-- *** SLIDER ENDS *** -->




<!-- *** WELCOME START *** -->
<div class="welcome">
	<div class="container"  style="text-align:left;">
		<div class="row">
			<div class="span12"><div class="welcome_msg">Here's the problem.</div></div>
		</div>
		<br></br>
		<div class="row" style="text-align:center;">
			<div class="span10 offset1" ><p class="welcome_text"  >If you need something 3D printed or CAD modeled, it can be difficult to compare accurate and serious proposals for your project. If you're a maker looking to 3D print or design CAD models for people, we know how difficult it can be to consistently attract customers. We solved both of these issues with CADsurf.</p></div>

		</div><!--row -->

	</div><!--container -->
</div><!--welcome -->
<!-- *** WELCOME END *** -->


<!-- *** SERVICES START *** -->

<div  id="features"  class="">
	<div class="container">
		<br>
		<br>
			<div><div class="welcome_msg centertext" >Why CADsurf?</div></div>
			<br>
			<br>
		<div class="row">	
			<br>
			<div class="services_icon_container hi-icon-effect-1 hi-icon-effect-1a">
								
				<div class="span6">
					<div class="icon_wrapper"><a class="hi-icon"><i class="fa_icon icon-link icon-3x"></i></a></div>
					<h2 class="uppercase">Secure Payment System</h2>
					<p>We've got your back. To protect both customers and makers, we keep all personal information, payment transfers, and files secure. In addition, we offer a money back guarantee on all orders.</p>
				</div><!--span6-->
				<div class="span6">
					<div class="icon_wrapper"><a class="hi-icon"><i class="fa_icon icon-archive icon-3x"></i></a></div>
					<h2 class="uppercase">Organize Files with Ease</h2>
					<p>Our drag and drop platform allows you to upload and manage all files related to your 3D project and share them with the maker you've selected. No more scattered email attachments!</p>
				</div><!--span6-->
				


				<div class="clear"></div>
				<div class="span6">
					<div class="icon_wrapper"><a class="hi-icon"><i class="fa_icon icon-list icon-3x"></i></a></div>
					<h2 class="uppercase">Makers Compete for Your Business</h2>
					<p>Our bidding system encourages competition so you can pick the best proposal for your needs at a fair price.</p>
				</div><!--span6-->

				<div class="span6">
					<div class="icon_wrapper"><a class="hi-icon"><i class="fa_icon icon-pencil icon-3x"></i></a></div>
					<h2 class="uppercase">Keep in Touch</h2>
					<p>Our built-in live chat enables instant communication between makers and customers throughout the order process.</p>
				</div><!--span6-->

				<div class="clear"></div>

				<div class="span6">
					<div class="icon_wrapper"><a class="hi-icon"><i class="fa_icon  icon-user icon-3x"></i></a></div>
					<h2 class="uppercase">Show off your Capabilities</h2>
					<p>Makers can attract customers with a digital storefront that includes detailed information regarding their previous work and unique abilities.</p>
				</div><!--span6-->

		

				<div class="span6">
					<div class="icon_wrapper"><a class="hi-icon"><i class="fa_icon icon-refresh icon-3x"></i></a></div>
					<h2 class="uppercase">Stay Updated</h2>
					<p>Real time updates mean you're never out of the loop, and once your order is shipped a tracking number is provided.</p>
				</div><!--span6-->
				<div class="clear"></div>

			</div><!--icon_container-->

		</div>
	</div>
</div><!--services-->
</br>
</br>
<!-- *** SERVICES END *** -->
	<div class="row centertext" style="padding-left:43px;">
		<p style="font-size:24px;">Start your project today and get 15% off your first order! It's quick and free to sign up.</p>
		<a href="https://cadsurf.com/users/sign_up" class="button large color">I'm a Client</a>
		<a href="https://cadsurf.com/admins/sign_up" class="button large color">I'm a Maker</a>

	</div>

<!-- *** FAQ START *** -->
<div id="testimonials" class="section">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="page_title">FAQ</h1>
				<h2 class="page_subtitle">Click on a question to see the answer.</h2>
				<div class="page_line"></div>
				<h2>Customers</h2>

			</div>
			<div class="span12">
				<div class="triggers_testimonials">
					<div class="row">
					<div class="testi_column">
						<div class="col_wrapper">
						<a href="#tab1">
							<p class="testimonials_name">What forms of payment do you accept? </p>
						</a>
					</div><!--col_wrapper-->
					</div><!--testi_column-->

					<div class="testi_column">
						<div class="col_wrapper">
						<a href="#tab2">
							<p class="testimonials_name">What if something goes wrong?</p>
						</a>
					</div><!--col_wrapper-->
					</div><!--testi_column-->

					<div class="testi_column">
						<div class="col_wrapper">
						<a href="#tab3">
							<p class="testimonials_name">How can I monitor my project’s progress?</p>
						</a>
					</div><!--col_wrapper-->
					</div><!--testi_column-->

					<div class="testi_column">
					<div class="col_wrapper">
						<a href="#tab7">
							<p class="testimonials_name">What is a CAD model and how is it helpful? </p>
						</a>
					</div><!--col_wrapper-->
					</div><!--testi_column-->

					</div>
					<h2>Makers</h2>
					<div class="row">
					<div class="testi_column">
						<div class="col_wrapper">
						<a href="#tab4">
							<p class="testimonials_name">As a maker, how do I get paid?</p>
						</a>
					</div><!--col_wrapper-->
					</div><!--testi_column-->

					<div class="testi_column">
						<div class="col_wrapper">
						<a href="#tab5">
							<p class="testimonials_name">What happens if there is a dispute?</p>
						</a>
					</div><!--col_wrapper-->
					</div><!--testi_column-->

					<div class="testi_column">
						<div class="col_wrapper">
						<a href="#tab6">
							<p class="testimonials_name">Who is responsible for shipping costs?</p>
						</a>
					</div><!--col_wrapper-->
					</div><!--testi_column-->

					<div class="testi_column">
					<div class="col_wrapper">
						<a href="#tab8">
							<p class="testimonials_name">How will 3D printing benefit me?</p>
						</a>
					</div><!--col_wrapper-->
					</div><!--testi_column-->

					</div>
					<!--FAQ Answers here-->
				    <div class="row">
				    	<p class="testimonial" id="tab1">Currently, we accept all major credit cards including VISA, Mastercard, Discover, and American Express. We will also be accepting PayPal soon.</p>

						<p class="testimonial" id="tab2">We are confident in our system and our process but we are also realistic that at some point, sometime, somewhere, something will not go as planned. Our answer to that is simple: a money back guarantee. We will also follow up with you to find out more about the experience so that we can learn and improve.</p>

						<p class="testimonial" id="tab3">Pretty easily actually. One of the most frustrating things we encountered when we were 3D printing was how time consuming and frustrating it was to keep our customers informed of our progress. To fix that, we have integrated a messaging system for you and the maker to communicate as well as a status section on your order page where you can track the order.</p>

						<p class="testimonial" id="tab4">We offer next day or in some cases same day ACH deposits into your Verified bank account. A verified bank account is required before you can bid on orders. This helps us ensure the legitimacy of makers and makes the payout process quick and secure.</p>

						<p class="testimonial" id="tab5">We actively get involved. Fortunately, our site is built so that the entire process is documented and clearly outlined. We will go back through the order history to understand what happened and make things right. If the dispute is murky, we will make everyone whole. However, for both customers and makers, we monitor quality because we want only quality people interacting on our site. We will not hesitate to ask someone to leave if we do not like his or her conduct.</p>

						<p class="testimonial" id="tab6">Makers are responsible for taking shipping costs into consideration when placing a bid. While you can choose to pass it on or at least part of it to the customers, it is up to you to include that amount in your bid. You will have enough information to be able to evaluate how much it will cost to ship. Of course, if you are doing CAD work, there are no shipping fees.</p>

						<p class="testimonial" id="tab7">CAD models are the digital recreation of of your idea necessary for proof of concept and 3D printing. When your project becomes a CAD model, you can see it three dimensionally and easily make quick, clean adjustments to it. If you want to have your model 3D printed, it is super easy because the file is already formatted to be sent to a 3D printer. If you have your idea sketched out and want it printed, have one of our CAD experts make it into a model for you.</p>

						<p class="testimonial" id="tab8">3D printing is a production process that creates items from a digital (CAD) model. The benefit of this process is that it significantly cuts the cost for prototyping and low volume production. Rather than having to get a manufacturer to create a unique process to produce your idea, have one of our 3D printer makers produce it quickly and affordably!</p>
					</div>
				</div>				
			</div><!--testi_column-->

		</div><!--row-->
	</div>
</div>
<!-- *** FAQ END *** -->


<!-- *** ABOUT US START *** -->
<div id="about_us" class="section">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="page_title">About Us</h1>
				<div class="page_line"></div>
				
			</div>

			<div class="span12">
				<div class="about_container">
					<div class="over_about">
						<div class="over_container">
							<h1>Work with people who understand the industry.</h1>
							<p>We have experience dealing with the headaches of the evergrowing 3D printing revolution.</p>
						</div>
					</div>
						<%= image_tag 'cubex.jpg' %>					

				</div>
			</div>

			
			<div class="span6">
				<h3>Who we are</h3>
				<p>It starts with who we were: A couple of guys with some 3D printers. Like many makers, we were frustrated by how hard it was to find customers, and  customers would tell us how frustrating it was to find a broad selection of serious makers. Having experienced these problems first hand, we knew creating CADsurf was the obvious solution.</p>
			</div><!--span6-->


		</div>
	</div>
</div><!--section-->
<!-- *** ABOUT US END *** -->


<!-- *** CONTACT START *** -->
<div id="contact" class="section">
	<div class="container">
		<div class="row">
			<div class="span12">
				<h1 class="page_title">Contact</h1>
				<h2 class="page_subtitle">Questions? CADsurf is here to help!</h2>
				<div class="page_line"></div>
				<div class="page_description">Let us know what we can help you with. Make sure to leave your contact info and a short message describing the problem. We also welcome any comments or concerns you may have. Thank you for getting in touch with us!

					

				</div>
			</div><!--span12-->
			<div class="span12">
				<h3>Send us a message</h3>
			</div>
			
			
				<div id="response">
				

					<form name="myForm" class="reply-input" onsubmit="return validateForm()" action="https://www.justhost.com/justmail" enctype="multipart/form-data" method="POST">
						<div class="span6">
						<div class="input-block">
							<input type="text" name="name" placeholder="David"/>
							
						</div>
						<div class="input-block">
							<input type="text" name="mailfrom" placeholder="myemail@mail.com"/>
							
						</div>

						<div class="clear"></div>
					
					</div>
					
					<div class="span6">
						
						<div class="textarea-block">
							<textarea name="message" cols="88" rows="8"></textarea>
							<div class="clear"></div>
						</div>

						<input class="submit_buttom" type="submit" value="Submit">
					</div>
					<!--Form working actions-->
          		<input type="hidden" name="redirect" value="https://cadsurf.com/">
          		<input type="hidden" name="subject" value="CADsurf Contact Us Message">
          		<input type="hidden" name="sendtoemail" value="alex.smith@cadsurf.com">
				</form>
				
				</div><!--response-->
			

			
		</div><!--row-->
	</div>
</div>
<!-- *** CONTACT END *** -->



<!-- *** FOOTER START *** -->
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span3">
				<h3>Support</h3>
				<p>Address: 3rd St Promenade, Santa Monica, CA</p>
				<p>Telephone: 661-993-5660</p>
				<p>Email: info@cadsurf.com</p>
				<li>
					<a href=""><%= image_tag 'icons/social/facebook.png' %></a>
					<a href=""><%= image_tag 'icons/social/twitter.png' %></a>
					<a href=""><%= image_tag 'icons/social/pinterest.png' %></a>
				</li>

			</div>

			<a class="map" href="https://www.google.com/maps/preview#!q=3rd+Street+Promenade%2C+Santa+Monica%2C+CA&data=!4m15!2m14!1m13!1s0x80c2a4cf941f4d9f%3A0xaa9b8321cdaf2c24!3m8!1m3!1d2581!2d144.9650209!3d-37.8179295!3m2!1i1366!2i629!4f13.1!4m2!3d34.01703!4d-118.4976246" target="_blank" title="Map">
				<div id="map_google">
				<%= image_tag 'map_shot.png' %>
				</div>
			</a>
			
		</div>
		<br>
		<div class="row">
						<div class="span2">
				<%= image_tag 'geotrust_logo.jpg', :width => 125, :height => 35,:style => 'padding-bottom: 10px;' %>
				<%= image_tag "balanced.png", :width => 150 %>
				<%= image_tag 'startengine_white.png', :height => 40, :width => 130 %>
			</div>
		</div>

	</div>
</div>
<!-- *** FOOTER END *** -->



<div class="loading_icon"></div>

<!--Validation Script-->
    <script type="text/javascript">
     
    function validateForm(){
      var x=document.forms["myForm"]["mailfrom"].value;
      var y=document.forms["myForm"]["name"].value;
      var z=document.forms["myForm"]["message"].value;

      if (x==null || x==""){
          alert("You must enter an email address.");
          return false;
        }
      else if (y==null || y==""){
          alert("You must enter your name.");
          return false;
        }
      else if (z==null || z==""){
          alert("You must enter a message.");
          return false;
        }
      }

    </script>
    <!--End Validation Script-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" type="text/javascript" ></script>
<script type="text/javascript" src="js/jquery.prettyPhoto.js"></script>	
<script type="text/javascript" src="js/carousel.js"></script>
<script type="text/javascript" src="js/retina.js"></script>
<script type="text/javascript" src="js/jquery.nav.js"></script>
<script type="text/javascript" src="js/modernizr.custom.js"></script>

<script type="text/javascript" src="js/jquery.isotope.min.js"></script>	

 <!-- JQUERY REVOLUTION SLIDER  -->
<script type="text/javascript" src="js/jquery.themepunch.plugins.min.js"></script>
<script type="text/javascript" src="js/jquery.themepunch.revolution.js"></script>

<script type="text/javascript" src="js/twitter/jquery.tweet.js"></script>
<script type="text/javascript" src="js/custom.js"></script>


</body>
</html>
