
<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_pgxBsgRyZGWObb0c3MjFdF8Fcw4FZ"
    data-amount="2000"
    data-name="Zertica CAD"
    data-description="Complete Payment"
    data-image="assets/images/logo/128x128.png">
  </script>
</form>
