
<button class="btn btn-success sharp" id="customButton">Pay Now</button>
<script>
  var handler = StripeCheckout.configure({
    key: 'pk_pgxBsgRyZGWObb0c3MjFdF8Fcw4FZ',
    image: '',
    token: function(token, args) {
      // Use the token to create the charge with a server-side script.
    }
  });

  document.getElementById('customButton').addEventListener('click', function(e) {
    // Open Checkout with further options
    handler.open({
      name: 'Demo Site',
      description: 'One Print',
      amount: 2000,
      shippingAddress: true
    });
    e.preventDefault();
  });
</script>