
<!-- Button to trigger modal -->
<div class="centertext">
<a href="#myModal" role="button" class="btn btn-success btn-large sharp" data-toggle="modal">Pay with Card</a>
</div>
<!-- Modal -->

<div id="myModal" class="modal hide fade centertext" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Checkout :)</h3>
  </div>
  <div class="modal-body">
    <img src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/credit_card_logos_10.gif">
    <br>
    <br>
    <form action="" method="POST" id="payment-form">
      <span class="payment-errors"></span>

      <div class="form-row">
        <label>
          <span>Card Number</span>
          <p><input type="text" size="20" data-stripe="number"/></p>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>CVC</span>
          <p><input type="text" size="4" data-stripe="cvc"/></p>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Expiration Month</span>
          <p><input type="text" size="2" data-stripe="exp-month"/></p>
        </label>
      </div>
      <div class="form-row">
        <label>
          <span>Expiration Year</span>
          <p><input type="text" size="2" data-stripe="exp-year"/></p>
        </label>
      </div>
      <button class="btn btn-success btn-large sharp" type="submit">Submit</button>
    </form>
  </div>
</div>