.centertext= link_to 'Pay with card', '#cardModal', data: {toggle: :modal}, role: :button, class: [:btn, 'btn-success', 'btn-large', :sharp]

#cardModal.modal.hide.fade.centertext aria-hidden="true" aria-labelledby="cardModalLabel" role="dialog" tabindex="-1"
  .modal-header
    button.close aria-hidden="true" data-dismiss="modal" type="button"
    h3#cardModalLabel Checkout
  .modal-body
    img src="http://www.credit-card-logos.com/images/multiple_credit-card-logos-1/credit_card_logos_10.gif"
    br
    br
    form#payment-form action="" method="POST"
      span.payment-errors
      .form-row
        label
          span Card Number
          p= text_field_tag 'number', '4242424242424242', data: {stripe: :number}, size: 20
      .form-row
        label
          span CVC
          p= text_field_tag 'cvc', '123', data: {stripe: :cvc}, size: 4
      .form-row
        label
          span Expiration Month
          p= text_field_tag 'exp-month', '02', data: {stripe: 'exp-month'}, size: 2
      .form-row
        label
          span Expiration Year
          p= text_field_tag 'exp-year', '16', data: {stripe: 'exp-year'}, size: 2
      .form-row= button_tag 'Submit', class: [:btn, 'btn-success', 'btn-large', :sharp]
