 <form action="#" method="get">
    <div class="input-group">
        <!-- USE TWITTER TYPEAHEAD JSON WITH API TO SEARCH -->
        <input class="form-control span4" id="system-search" name="q" placeholder="Live search box" required>

    </div>
</form>