.progress.loading.hide
	.bar style="width: 60%;"
		p
= f.input :name, label: "Account holder's name", hint: 'This name must match the name on the bank account'
= f.input :bank_code, label: 'Routing number'
= f.input :account_number
= f.input :bank_account_uri, as: :hidden