| Dear #{@order.user.first_name}:

	Good news!

	Your order "#{@order.title}," is complete, and will be shipped to you shortly.

	We will notifiy you when it has shipped and provide you with a tracking number.

	Thank you,

	CADsurf